.content-section{
    padding-top: 230px;
 
    &__content{
        margin:0 auto;
        background: #343434;
        border-radius: 33px;
        overflow: hidden;
        width: 1219px;
        height: 370px;
        display: flex;
        justify-content:flex-start; 
        align-items: center; 
        gap: 120px;
    }

    &__left-content{
        width: 418px;
        height: 213px;
        padding-left: 94px;
        padding-top: 17px ;
        padding-bottom: 17px ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
        gap: 37px;
    }

    &__headline{
        width: 492px;
        font-size: 52px;
        font-weight: 400;
        padding-left: 10px;
    }

    &__link {
        width: 160px;
        height: 52px;
        text-align: center;
        font-size: 17px;
    }
    &__chart {
        width: 585px;
        height: 100%;
    }
}